<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <node pkg="mrs_lib" type="param_provider_example" name="mrs_lib_test" output="screen" launch-prefix="$(arg launch_prefix)" >

    <rosparam file="$(find mrs_lib)/test/param_loader/test.yaml" />
    <param name="static_params_file" value="$(find mrs_lib)/test/param_loader/test_static.yaml" />

  </node>

</launch>

