<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <node pkg="mrs_lib" type="subscribe_handler_tests" name="tests" output="screen" launch-prefix="$(arg launch_prefix)" >
    <rosparam file="$(find mrs_lib)/src/param_loader/test.yaml" />
  </node>

</launch>

